body {
  width: 1060vw;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.backgroundpart1 {
  position: absolute;
  z-index: 0;
  left: 0px;
  top: 50px;
  filter: blur(2px);
  filter: opacity(70%);

}

.backgroundpart2 {
  position: absolute;
  z-index: 0;
  left: 1600px;
  top: 50px;
  filter: blur(2px);
  filter: opacity(70%);

}

.backgroundpart3 {
  position: absolute;
  z-index: 0;
  left: 4800px;
  top: 50px;
  filter: blur(2px);
  filter: opacity(70%);

}

.backgroundpart4 {
  position: absolute;
  z-index: 0;
  left: 3200px;
  top: 50px;
  filter: blur(2px);
  filter: opacity(70%);

}

.backgroundpart5 {
  position: absolute;
  z-index: 0;
  left: 6400px;
  top: 50px;
  filter: blur(2px);
  filter: opacity(70%);

}

.backgroundpart6 {
  position: absolute;
  z-index: 0;
  left: 8000px;
  top: 50px;
  filter: blur(2px);
  filter: opacity(70%);

}

.backgroundpart7 {
  position: absolute;
  z-index: 0;
  left: 9600px;
  top: 50px;
  filter: blur(2px);
  filter: opacity(70%);

}

.backgroundpart8 {
  position: absolute;
  z-index: 0;
  left: 11200px;
  top: 50px;
  filter: blur(2px);
  filter: opacity(70%);

}

.backgroundpart9 {
  position: absolute;
  z-index: 0;
  left: 12800px;
  top: 50px;
  filter: blur(2px);
  filter: opacity(70%);

}

.backgroundpart10 {
  position: absolute;
  z-index: 0;
  left: 14400px;
  top: 50px;
  filter: blur(2px);
  filter: opacity(70%);

}


.heading1 {
  z-index: 1;
  position: fixed;
  top: -30px;
  left: 600px;
  width: 350px;
  height: 100px;
  border: 0px solid inherit;
  background: inherit;
  opacity: 0.5;
  margin: 0 auto;
  transform: rotate(21.5deg);
  filter: contrast(120%);
}

.acornBottom {
  z-index: 2;
  position: fixed;
  width: 102px;
  height: 140px;
  background-color: SaddleBrown;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  transform: rotate(150deg);
  left: 460px;
  top: 70px;
  opacity: 70%;
}

.acornTop {
  z-index: 3;
  position: fixed;
  width: 120px;
  height: 60px;
  border-radius: 50% / 90% 90% 5% 5%;
  left: 425px;
  top: 62px;
  background: #702e0f;
  transform: rotate(-27deg);
}

.acornShine {
  z-index: 4;
  position: fixed;
  left: 490px;
  top: 170px;
  width: 20px;
  height: 10px;
  background: white;
  border-radius: 100px / 50px;
  transform: rotate(26deg);
  opacity: 70%;
}

.acornStem {
  position: fixed;
  left: 450px;
  top: 60px;
  width: 30px;
  height: 10px;
  background: #280c09;
  border-radius: 100px / 50px;
  transform: rotate(43deg);
  opacity: 70%;
}

.tree1 {
  z-index: 5;
  position: fixed;
  top: 400px;
  left: -140px;
}

.tree2 {
  z-index: 5;
  position: fixed;
  top: 400px;
  left: 430px;
}

.tree3 {
  z-index: 5;
  position: fixed;
  top: 400px;
  left: 900px;
}

.container {
  z-index: 4;
  background: linear-gradient(90deg, rgba(216, 110, 82, 1) 0%, rgba(215, 129, 64, 0.9923319669664741) 35%, rgba(219, 171, 60, 1) 100%);
  display: flex;
  padding-left: 80px;
  padding-bottom: 100px;
  flex-flow: row;
  height: 100vh;
  position: center;
}

.middle {
  top: 50%;
}

.center {
  background-color: inherit;
  align-items: center;
  display: flex;
  flex-flow: row;
  flex: 1;
}

.col {
  margin: 0;
}

.top2 {
  background-color: inherit;
  position: relative;
  flex: 1;
}

.img_wrap {
  position: relative;
  display: inline-block;
}

.img_img {
  vertical-align: bottom;
}

.img_description_layer {
  border-radius: 0%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: green;
  color: white;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* transition effect. not necessary */
  transition: opacity 2s, visibility 2s;
  transition-timing-function: ease-in-out;
}

.img_wrap:hover .img_description_layer {
  visibility: visible;
  opacity: 0.75;
  transition: opacity 2s, visibility 2s;
}

.img_wrap:hover .img_img {
  border-radius: 0%;
  filter: blur(5px);
  visibility: visible;
  opacity: 0.25;
  transition: opacity 2s, visibility 1s, filter 1s, border-radius .2s;
}

.img_description {
  filter: blur(0px);
  transition: .5s;
  text-align: center;
  font-family: 'Lekton';
  color: orange;
  opacity: 1;
  font-size: 0.8em;
}
